<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.carouseldemo.main"
      android:versionCode="1"
      android:versionName="1.0">
       <uses-permission android:name="android.permission.INTERNET"/>
    <application android:icon="@drawable/allscoohls" android:label="@string/app_name">
        <activity android:name=".SpinningCube"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TabBarExample" />
          <activity android:name=".Tccs24" />
        <activity android:name=".Tabtcc24" />
           <activity android:name=".Tccs23" />
        <activity android:name=".Tabtcc23" />
        <activity android:name=".Tccs22" />
        <activity android:name=".Tabtcc22" />
         <activity android:name=".Tccs21" />
        <activity android:name=".Tabtcc21" />
        <activity android:name=".Tcec22" />
        <activity android:name=".Tabtce22" />
          <activity android:name=".Tcec2o" />
        <activity android:name=".Tabtce2o" />
          <activity android:name=".Tcec21" />
        <activity android:name=".Tabtce21" />
         <activity android:name=".Tccs33" />
        <activity android:name=".Tabtcc33" />
         <activity android:name=".Tccs32" />
        <activity android:name=".Tabtcc32" />
         <activity android:name=".Tccs31" />
        <activity android:name=".Tabtcc31" />
         <activity android:name=".Tcec33" />
        <activity android:name=".Tabtce33" />
         <activity android:name=".Tcec32" />
        <activity android:name=".Tabtce32" />
         <activity android:name=".Tcec3o" />
        <activity android:name=".Tabtce3o" />
         <activity android:name=".Tcec31" />
        <activity android:name=".Tabtce31" />
        <activity android:name=".Stageast" />
        <activity android:name=".Tabstas" />
        <activity android:name=".Ips32" />
        <activity android:name=".Tabops32" />
         <activity android:name=".Ips31" />
        <activity android:name=".Tabips31" />
        <activity android:name=".Option32" />
        <activity android:name=".Tabopt32" />
        <activity android:name=".Option31" />
        <activity android:name=".Tabopt31" />
         <activity android:name=".Projet3a" />
        <activity android:name=".Tabpro" />
          <activity android:name=".Tabast31" />
        <activity android:name=".Astre31" />
        <activity android:name=".Tabast33" />
        <activity android:name=".Astre33" />
         <activity android:name=".Tabast32" />
        <activity android:name=".Astre32" />
         <activity android:name=".Tabast21" />
        <activity android:name=".Astre21" />
         <activity android:name=".Tabast22" />
        <activity android:name=".Astre22" />
         <activity android:name=".Tabast23" />
        <activity android:name=".Astre23" />
         <activity android:name=".Tabast24" />
        <activity android:name=".Astre24" />
         <activity android:name=".Tabast25" />
        <activity android:name=".Astre25" />
         <activity android:name=".Tabast26" />
        <activity android:name=".Astre26" />
         <activity android:name=".Tabast27" />
        <activity android:name=".Astre27" />
         <activity android:name=".Tabast28" />
        <activity android:name=".Astre28" />
         <activity android:name=".Tabast29" />
        <activity android:name=".Astre210" />
         <activity android:name=".Tabast210" />
          <activity android:name=".Tabmma" />
        <activity android:name=".Mmastre" />
         <activity android:name=".Tabmpa" />
        <activity android:name=".Mpastre" />
        
        <activity android:name=".Tabopt24" />
        <activity android:name=".Option24" />
        <activity android:name=".Tabopt23" />
        <activity android:name=".Option23" />
         <activity android:name=".Tabopt22" />
        <activity android:name=".Option22" />
        <activity android:name=".Tabopt21" />
        <activity android:name=".Option21" />
        <activity android:name=".Tabinf26" />
        <activity android:name=".Info26" />
        <activity android:name=".Tabinf24" />
        <activity android:name=".Info24" />
        <activity android:name=".Tabinf25" />
        <activity android:name=".Info25" />
          <activity android:name=".Tabinf23" />
        <activity android:name=".Info23" />
         <activity android:name=".Tabinf22" />
        <activity android:name=".Info22" />
         <activity android:name=".Tabinf21" />
        <activity android:name=".Info21" />
         <activity android:name=".Tabopt12" />
        <activity android:name=".Option12" />
         <activity android:name=".Tabinf13" />
        <activity android:name=".Info13" />
         <activity android:name=".Tabinf19" />
        <activity android:name=".Info19" />
        <activity android:name=".Tabinf16" />
        <activity android:name=".Info16" />
         <activity android:name=".Tabinf101" />
        <activity android:name=".Info101" />
          <activity android:name=".Tabinf17" />
        <activity android:name=".Info17" />
         <activity android:name=".Tabinf18" />
        <activity android:name=".Info18" />
          <activity android:name=".Tabinf12" />
        <activity android:name=".Info12" />
        <activity android:name=".Tabinf14" />
        <activity android:name=".Info14" />
         <activity android:name=".Tabinf11" />
        <activity android:name=".Info11" />
        <activity android:name=".Tabinf15" />
        <activity android:name=".Info15" />
          <activity android:name=".Contacts" />
           <activity android:name=".Contact0" />
            <activity android:name=".Tabconta" />
            <activity android:name=".Contacts1" />
           <activity android:name=".Contact1" />
            <activity android:name=".Tabconta2" />
             <activity android:name=".Contacts2" />
           <activity android:name=".Contact2" />
            <activity android:name=".Tabconta3" />
             <activity android:name=".Contacts3" />
           <activity android:name=".Contact3" />
           <activity android:name=".Tabconta4" />
             <activity android:name=".Contacts4" />
           <activity android:name=".Contact4" />
            <activity android:name=".Tabconta5" />
             <activity android:name=".Contacts5" />
           <activity android:name=".Contact5" />
             <activity android:name=".Tabconta6" />
             <activity android:name=".Contacts6" />
           <activity android:name=".Contact7" />
             <activity android:name=".Tabconta7" />
             <activity android:name=".Contacts7" />
               <activity android:name=".Contact8" />
             <activity android:name=".Tabconta8" />
             <activity android:name=".Contacts8" />
                <activity android:name=".Contact9" />
             <activity android:name=".Tabconta9" />
             <activity android:name=".Contacts9" />
           <activity android:name=".Contact6" />
            <activity android:name=".Tabconta1" />
         <activity android:name=".Association1" />
        <activity android:name=".Tabassociantion1" />
          <activity android:name=".Association2" />
        <activity android:name=".Tabassociation2" />
        <activity android:name=".Association" />
        <activity android:name=".Tabassociation" />
          <activity android:name=".Annee3" />
        <activity android:name=".Tabann3" />
            <activity android:name=".Annee2" />
        <activity android:name=".Tabann2" />
         <activity android:name=".Annee1" />
        <activity android:name=".Tabann1" />
          <activity android:name=".Tabsem5" />
         <activity android:name=".Semestre5" />
        <activity android:name=".Tabsem2" />
         <activity android:name=".Semestre2" />
           <activity android:name=".Tabsem3" />
         <activity android:name=".Semestre3" />
        <activity android:name=".Tansem1" />
         <activity android:name=".Semestre1" />
        <activity android:name=".Tabsem4" />
         <activity android:name=".Semestre4" />
         <activity android:name=".Tabsem6" />
         <activity android:name=".Semestre6" />
    
        <activity android:name=".RSSReaderTuto" />
        <activity android:name=".ShowRSS"/>
     <activity android:name=".Tab3" />
    <activity android:name=".Tab2" />
    <activity android:name=".Tab1" />
    <activity android:name=".Tabgui" />
    <activity android:name=".Guide" />
    <activity android:name=".Tabtra" />
    <activity android:name=".Transport" />
    <activity android:name=".Tabrest" />
    <activity android:name=".Restaurant" />
    <activity android:name=".Tabhou" />
    <activity android:name=".Housing" />
    <activity android:name=".Tabper" />
    <activity android:name=".Personnel" />
    <activity android:name=".Tabbui" />
    <activity android:name=".Building" />
    <activity android:name=".Tabnew" />
    <activity android:name=".News" />
    <activity android:name=".Tabres" />
    <activity android:name=".Research" />
    <activity android:name=".Tabele" />
    <activity android:name=".Elec" />
    <activity android:name=".Tabvas" />
    <activity android:name=".Vasi" />
    <activity android:name=".Tabjen" />
    <activity android:name=".Jensim" />
    <activity android:name=".Tabdeb" />
    <activity android:name=".Debouche" />
    <activity android:name=".Stage" />
    <activity android:name=".Tabsta" />
    <activity android:name=".Map" />
    <activity android:name=".Tabmap" />
    <activity android:name=".Contact" />
    <activity android:name=".Tabcont" />
    <activity android:name=".Matiere" />
    <activity android:name=".Tabmat" />
    <activity android:name=".Semestre" />
    <activity android:name=".Tabsem1" />
    <activity android:name=".Matiere1" />
    <activity android:name=".Tabsem" />
    <activity android:name=".CoverFlowExample" />
    <activity android:name=".Tabschool" />
    <activity android:name=".Tabpar1" />
    <activity android:name=".Tabpar2" />
    <activity android:name=".Tabpar3" />
    <activity android:name=".Partenaire" />
	<activity android:name=".Tabpartenaire" />
	<activity android:name=".FirstTab" />
	<activity android:name=".SecondTab" />
	<activity android:name=".TestQuickAction" />
	<activity android:name=".MainActivity" />
	<activity android:name=".Assoc" />
	<activity android:name=".Tabass" />
     
    </application>
   
</manifest> 